<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quiz-it!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="static/style.css" />
</head>
<body>
  <h1>Quiz-it!</h1>

  <main>
    <!-- <form class="quiz">
      <p class="question">Is this really a question?</p>
      <button>Yes</button>
      <button>No</button>
      <button>Probably</button>
      <button>It's a platypus</button>

    </form> -->
    <p><a href="/manage">Manage questions</a></p>


  </main>
  
  <script src="static/scripts.js"></script>
</body>
</html>
