li {
  
  background-color: lightgrey;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

div {
  padding: 5px;
}

.city {
  font-size: 2em;
}

.temperature {
  font-size: 2em;
  justify-content: center;  
  text-align: center;

}

.terms {
 background-color: black;
}