body {
  background-color: antiquewhite;
}

ul {
  width: 500px;
}

li {
  background-color: lightgrey;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div {
  padding: 5px;
}

.city {
  font-size: 2em;
  padding: 5px;
}

.temperature {
  font-size: 2em;
  display: flex;
  justify-content: center;  
  text-align: center;
  padding: 5px;

}

.temperature::after {
    content: " °C"; 
}


.terms {
 background-color: pink;
 padding: 5px;
 display: flex;
 justify-content: center;  
 text-align: center;
}