<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
  </head>
  <body>
    <h1>My To-Do list</h1>

    <ul>
      <li>empty line</li>
      <li>empty line</li>
      <li>empty line</li>
      <li>empty line</li>
      <li>empty line</li>
    </ul>

  </body>
</html>