<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
  </head>
  <body>
    <h1>My To-Do list</h1>

    <ul>
      <% todos.forEach((element) => { %>
        <li>
            <%= element %>
        </li>
      <% }) %>
    </ul>

  </body>
</html>