* {
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
}

header {
  color: aliceblue;
  font-weight: 200;
  letter-spacing: 10px;
  background-color: black;
  background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  padding: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

.postcontainer {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  width: 100%;
}
 .vote {
   /* width: 200px; */
   display: flex;
   flex-direction: column;
   padding: 10px;
 }

.voter {
  display: inline-block;
}

.up .down {
  opacity: 0.5;
  cursor: pointer;
  border: none;
}


.up {
  background-image: url("img/upvote.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.up:hover .down:hover {
opacity: 1;
}

.down {
  background-image: url("img/downvote.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.down:hover {
  opacity: 1;
  }

.score {
  text-align: center;
}

h3 {
}

aside {
  position: fixed;
}