.container {
  display: flex;
  padding: 55px;
  

}

.item {
  display: inline-block;
  width: 185px;
  height: 185px;  
}

.green {
  display: inline-block;
  background-color: #51d400;
  flex: 1;
}

.yellow {
  display: inline-block;
  background-color: #ffd62a;
  flex: 2;
}

.purple {
  display: inline-block;
  background-color: #b02aff;
  flex: 1;
}