* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  background-color: peachpuff;
}

#petName {}

.form-flex {
  padding: 20px;
  display: flex;
  /* flex-flow: row; */
  flex-direction: column;
}

#buttons {
  flex-direction: row;
}

button {
  width: 100px;
  flex-direction: row;
  margin: 4px;
  border: none;
  border-radius: 10px;
  color: red;
  background: linear-gradient(to top, white, peachpuff, white);
}

button:disabled {
  color: coral;
} 