* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 208, 170, 0.5);
  width: 400px;
  height: 600px;
}

.random-cat {
  display: flex;
  width: 100px;
  height: auto;
  float: right;
  align-self: flex-end;
  filter: opacity(10%);
  }


#petName {}

.form-flex {
  padding: 20px;
  display: flex;
  /* flex-flow: row; */
  flex-direction: column;
}

#buttons {
  flex-direction: row;
}

button {
  width: 100px;
  flex-direction: row;
  margin: 4px;
  border: none;
  border-radius: 10px;
  color: red;
  background: linear-gradient(to top, white, peachpuff, white);
}

button:disabled {
  color: coral;
} 


.random-cat {
  width: 100px;
  height: auto;
  filter: opacity(10%);
  }
