* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-flow: column;
}

#petName {

}

.form-flex {
  padding: 20px;
  display: flex;
  flex-flow: row;
  flex-direction: column;
}

button {
  width: 200px;
  flex-direction: row;
}